@charset "UTF-8";
/* CSS Document */









@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Raleway|Teko');


.top-bar { background: #252525; }



.menu-text {
	color: #b8318a; 
	background: #252525; }

.top-bar ul {background: #252525;}

body {background: #252525;}

.header {
	font-family: 'Pacifico', cursive;
    color: #f7ddee;
    text-shadow: 2px 2px #444143;
    font-size: 3em;
	text-align: center;
}

h5 { 
	color: #e2b8e4;
	font-family: 'Raleway', sans-serif;
    padding: 10px;
    text-align: center;
}


a {color: #d2cece;}


a:hover {color: #981199;}


.button { 
	background: #262222;
	border-radius: 8px;
}


.row { max-width: none !important; }


.columns { padding: 0px 1px 0px 1px !important; }


.hero-search-filter-content { 
	background-image: linear-gradient(to right, #9a1098 , #6711c7);
    /* background-image: url("/assets/images/party.png"); */
	/* background-image: linear-gradient(to right, #9a1098 , #6711c7); */
    /* Set a specific height */
    height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
 margin:auto;
 margin-bottom: 20px;
}

.event-img {
 width: auto;
 height: auto;
}

.col-6 {
 color: #ffffff;
}

.buy-ticket-btn { 
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 3px 8px 3px 8px;
    background: #95129b;
    margin: 10px;
}

.calendar-btn { 
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 3px 8px 3px 8px;
    background: #95129b;
    margin: 10px;
}

/* search bar form */
.hero-search-filter {
  background: url("https://images.pexels.com/photos/115095/pexels-photo-115095.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") center center no-repeat;
  height: 300px;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-search-filter-logo {
  margin-bottom: 2rem;
}

.hero-search-filter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-search-filter-menu {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-menu li {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .hero-search-filter-menu li a {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-search-filter-menu a {
  color: #fefefe;
  font-weight: bold;
}

.hero-search-filter-menu a .fa {
  font-size: 1.125rem;
  font-weight: normal;
  text-decoration: none;
}

.hero-search-filter-menu a:hover {
  text-decoration: underline;
}

.hero-search-filter-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  background: #fefefe;
  padding: 0.25rem;
  border-radius: 5px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-search-filter-form .divider {
  background-color: #cacaca;
  width: 1px;
}

.hero-search-filter-form label {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #8a8a8a;
  font-weight: bold;
}

.hero-search-filter-form input,
.hero-search-filter-form .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-form {
    width: 83%;
    margin-bottom: -34px;
  }
	

	
}

.hero-search-filter-form-find,
.hero-search-filter-form-near {
  border: 0;
  box-shadow: none;
}

.hero-search-filter-form-find:focus,
.hero-search-filter-form-near:focus {
  border: 0;
  box-shadow: none;
}

/* end search bar form */


  
